.wrapper{
    height:100vh;
    display: flex;
    gap: 105px;
    justify-content:center;
    align-items:center;

  
    
}

.watch{
    height: px;
    width: 20%;
    background-color: #0dcbf0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
    border-radius: 10px;
   
}
.shoe{
    height: px;
    width: 20%;
    background-color: #0e6ffd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
    border-radius: 10px;
} 
.bag{
    height: px;
    width: 20%;
    background-color: #198754;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 30px;
    border-radius: 10px;
}
     @media only screen and (max-width: 775px) {
         *{
          margin:0;
          padding:0;
         }
      .wrapper{
        display: flex;
        flex-direction: column;          
        gap: 40px; 
        width:100%
       justify-content:center;
    } 
    .watch,.shoe,.bag{
        width:55%;
    }
} 

